<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liangjing.hemodialysisproject">

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.UserMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity android:name=".activity.DoctorDetailActivity" />
        <activity android:name=".activity.ui.ShowBigImageActivity" />
        <activity android:name=".activity.ui.ImageGridActivity" />
        <activity android:name=".activity.ui.ChangeUserNameActivity" />
        <activity android:name=".activity.ui.ChangeRealNameActivity" />
        <activity android:name=".activity.ui.ChangeUserGenderActivity" />
        <activity android:name=".activity.ui.ChangeUserLocationActivity" />
        <activity android:name=".activity.ui.ChangeCellPhoneActivity" />
        <activity android:name=".activity.ui.ChangeIdNumberActivity" />
        <activity android:name=".activity.ui.ChangePasswordActivity" />
        <activity android:name=".activity.ui.ChangeBirthdayActivity" />
        <activity android:name=".activity.DoctorScheduleActivity" />
        <activity android:name=".fragment.OrderFragment" />
        <activity android:name=".fragment.QueryFragment"></activity>
    </application>

</manifest>